.thumbnail {
  min-width: 260px;
  text-align: center;
}

.thumbnail img {
  width: 125px;
  height: 150px;
}

h5 {
  width: 100%;
  white-space: nowrap;
  margin-bottom: 4px;
}

a.plain:link {
  color: #333;
  text-decoration: none;
}

a.plain:active {
  color: #333;
  text-decoration: none;
}

a.plain:visited {
  color: #333;
  text-decoration: none;
}

a.plain:hover {
  color: #333;
  text-decoration: none;
}